@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}  

@layer base {
  h1 {
    @apply text-3xl ;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
  h5 {
    @apply text-base;
  }
  h6 {
    @apply text-sm;
  }
}

.section {
  @apply h-screen bg-[lightsteelblue] flex flex-col justify-center items-center;
}

.btn {
  @apply select-none text-white font-medium text-lg leading-5 rounded-md cursor-pointer m-2.5 p-2 border-none hover:brightness-[1.1] hover:scale-x-95 hover:scale-y-90 bg-amber-500 disabled:bg-slate-300 disabled:text-gray-500 disabled:cursor-not-allowed;
  transform: all 0.3s ease;
}

